doctype html
html
  head
    title Vivek Dance Academy
    block scripts
    block style
  body
    nav#navbar
        ul
            div#logo 
               img(src="/static/d4.png")
               |VDA

            li #[a(href="/") Home]
            li #[a(href="/about") About]
            li #[a(href="/services") Services]
            li #[a(href="/class") Class Info]
            li #[a(href="/contact") Contact Us]
    block content
    block foot
      #footer
        | copyright @2021 Vivek dance academy|All right reserved